<div class="content" id='contact-content'>
    <p>For bookings and inquiries, please email us at <a href="mailto:sealabmusic@gmail.com">sealabmusic@gmail.com</a></p>
    <h3>Follow us on:</h3>
    <p><a href="https://www.facebook.com/thesealab" target="blank">Facebook</a></p>
    <p><a href="https://www.instagram.com/thesealab" target="blank">Instagram</a></p>
    <p><a href="https://www.twitter.com/the_sealab" target="blank">Twitter</a></p>
    <p><a href="https://www.soundcloud.com/thesealab" target="blank">SoundCloud</a></p>
    <p><a href="http://sealab.bandcamp.com" target="blank">Bandcamp</a></p>
    </br>
    </br>
    <p>Sealab is a DC-based rock band whose sound draws from psychedelic, soul, and Eastern musical influences. The band views every song as a journey, using fluidity and improvisation to take the listener to a climax. Mithun, Sam, Youssef, and Julia formed "the Lab" in early 2013, and have since added keyboardist Andrew. They play frequent shows in the local DC area, and occasionally journey out along the East Coast.</p>
    </br>
    <p>Their first and self-titled EP was entirely improvised - a jam between musicians just beginning to get to know one another. Since then, they have built their own home studio and show space, where they host visiting acts and constantly experiment with new ideas. The band’s upcoming second EP, scheduled for a December release date, is entirely self-recorded and produced, a faithful document of the Lab’s independent approach.</p>
</div>

