<!DOCTYPE HTML>
<html lang="en">
<!-- Site by Eli Bierman [elibierman.com] -->

<head>
    <title>Sealab</title>
    <meta name='description' content = 'Sealab is a DC-based rock band whose sound draws from psychedelic, soul, and Eastern musical influences.'/>
    {% load staticfiles %}
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'website/images/favicon.ico' %}"/>
    <link href="{% static 'website/styles.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'website/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/velocity.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/script.js' %}"></script>
</head>


