{% include "website/header.html" %}
<body>
    <div class="bg-base bg-color-0"></div>
    {% include "website/sub-page-header.html" %}
    {% include "website/home-ajax.html" %}
    {% include "website/footer.html" %}
</body>

</html>
