<ol id="navbar">
    <li>
        <a class="nav-link" rel="morph" href="{% url 'home' %}">News</a>
    </li>
    <li>
        <a class="nav-link" rel="morph" href="{% url 'sounds' %}">Sounds</a>
    </li>
    <li>
        <a class="nav-link" rel="morph" href="{% url 'pictures' %}">Pictures</a>
    </li>
    <li>
        <a class="nav-link" rel="morph" href="{% url 'shows' %}">Shows</a>
    </li>
    <li>
        <a class="nav-link" rel="morph" href="{% url 'contact' %}">Contact</a>
    </li>
</ol>

