<div class='content' id='pictures-content'>
    <div id='image-wrapper'>
        {% load staticfiles %}
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/4-17-show.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/6.3-Ancient-River-poster-reg.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/6.26-show-poster.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/7.11-seedheads-show-poster.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/7.31-iitf2-poster-the-lab.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/9.24-lab-show-poster.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/11.13-show-poster.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/11.20-show-poster.jpg' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band1.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band2.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band3.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band4.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band5.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band6.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band7.JPG' %}">
        <img class="band-img" alt="Band Photo" src="{% static 'website/images/band8.JPG' %}">
    </div>
</div>
