{% include "website/header.html" %}
<body>
    <div class="bg-base bg-color-0"></div>
    <div class='bg-base bg-color-black'></div>
    {% include "website/sub-page-header.html" %}
    {% include "website/pictures-ajax.html" %}
    {% include "website/footer.html" %}
</body>

</html>
