<div class="content">
    <center><iframe style="border: 0; width: 600px; height: 904px;" src="http://bandcamp.com/EmbeddedPlayer/album=611526201/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://sealab.bandcamp.com/album/ii">II by Sealab</a></iframe></center>
    </br>
    </br>
    </br>
    <center><iframe style="border: 0; width: 600px; height: 904px;" src="https://bandcamp.com/EmbeddedPlayer/album=628717085/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://sealab.bandcamp.com/album/sealab-ep">Sealab EP by Sealab</a></iframe></center>
    </br>
    </br>
    <!--
    <div class="soundcloud player">
        <iframe width="400px" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167585774&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    -->
</div>

