/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END CSS RESET */

@font-face {
    font-family: 'wildride';
    src: url('fonts/wildride.eot');
    src: url('fonts/wildride.eot') format('embedded-opentype'),
    url('fonts/wildride.woff2') format('woff2'),
    url('fonts/wildride.woff') format('woff'),
    url('fonts/wildride.ttf') format('truetype');
}

@font-face {
    font-family: 'apercu-light';
    src: url('fonts/Apercu-Light.eot');
    src: url('fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Apercu-Light.woff2') format('woff2'),
    url('fonts/Apercu-Light.woff') format('woff'),
    url('fonts/Apercu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'apercu';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/apercu.eot');
    src: url('fonts/apercu.eot?#iefix') format('embedded-opentype'),
    url('fonts/apercu.woff2') format('woff2'),
    url('fonts/apercu.woff') format('woff'),
    url('fonts/apercu.ttf') format('truetype');
}

@font-face {
    font-family: 'apercu';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/Apercu-Italic.eot');
    src: url('fonts/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Apercu-Italic.woff2') format('woff2'),
    url('fonts/Apercu-Italic.woff') format('woff'),
    url('fonts/Apercu-Italic.ttf') format('truetype');
}

html {
    font: 50px "apercu", "Helvetica", Arial, sans-serif;
    color: #FFF;
}

h1, h2, h3, h4, p, a, img, iframe {
    position: relative;
}

h1 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
}

/* ELEMENTS */

h3 {
    margin: 0.5em 0;
    font-size: 0.75em;
}

p {
    margin: 0.5em 0;
    font-size: 0.5em;
    line-height: 1.3em;
}

a {
    color: inherit;
}

a:hover {
    text-shadow: 0.1em 0.1em #666;
    text-decoration: none;
}

/* CLASSES */

.content {
    margin: 0 auto;
    width: 70%;
    max-width: 850px;
}

.content#pictures-content {
    margin: 0 5%;
    width: auto;
    max-width: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.content#contact-content {
    font-family: "apercu-light", "Helvetica", Arial, sans-serif;
}

.band-img {
    position: relative;
    display: block;
    max-width: 900px;
    max-height: 900px;
    padding: 20px 0;
    margin: 0 auto;
}

.band-img.EP {
    max-width: 600px;
}

.nav-link {
    font: 50px 'wildride', Georgia, serif;
    margin: 0 20px;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0.075em 0.075em #444;
}

.nav-link:hover {
    text-shadow: 0.125em 0.125em #444;
}

.player {
    display: block;
    margin: 0 auto 50px auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    opacity: 0.999; /* this is a hack to get border-radius to show */
}

.bandcamp {
    height: 704px;
}

.soundcloud {
    height: 400px;
}

.bg-base {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.bg-color-3 {
    background-color: #1D44C2;
    background-image: -webkit-radial-gradient(center center, circle cover, #1D44C2, #057687);
    background-image: -moz-radial-gradient(center center, circle contain, #1D44C2, #057687);
    background-image: -ms-radial-gradient(center center, circle contain, #1D44C2, #057687);
    background-image: -o-radial-gradient(center center, circle contain, #1D44C2, #057687);
    background-image: radial-gradient(center center, circle contain, #1D44C2, #057687);
}

.bg-color-2 {
    background-color: #057687;
    background-image: -webkit-radial-gradient(center center, circle cover, #057687, #1D44C2);
    background-image: -moz-radial-gradient(center center, circle contain, #057687, #1D44C2);
    background-image: -ms-radial-gradient(center center, circle contain, #057687, #1D44C2);
    background-image: -o-radial-gradient(center center, circle contain, #057687, #1D44C2);
    background-image: radial-gradient(center center, circle contain, #057687, #1D44C2);
}

.bg-color-1 {
    background-color: #1D44C2;
    background-image: -webkit-radial-gradient(center center, circle cover, #1D44C2, #660487);
    background-image: -moz-radial-gradient(center center, circle contain, #1D44C2, #660487);
    background-image: -ms-radial-gradient(center center, circle contain, #1D44C2, #660487);
    background-image: -o-radial-gradient(center center, circle contain, #1D44C2, #660487);
    background-image: radial-gradient(center center, circle contain, #1D44C2, #660487);
}

.bg-color-0 {
    background-color: #660487;
    background-image: -webkit-radial-gradient(center center, circle cover, #660487, #1D44C2);
    background-image: -moz-radial-gradient(center center, circle contain, #660487, #1D44C2);
    background-image: -ms-radial-gradient(center center, circle contain, #660487, #1D44C2);
    background-image: -o-radial-gradient(center center, circle contain, #660487, #1D44C2);
    background-image: radial-gradient(center center, circle contain, #660487, #1D44C2);
}

.bg-3color-4 {
    background-color: #C759FF;
    background-image: -webkit-radial-gradient(center center, circle cover, #C759FF, #00C4DE, #00E639);
    background-image: -moz-radial-gradient(center center, circle contain, #C759FF, #00C4DE, #00E639);
    background-image: -ms-radial-gradient(center center, circle contain, #C759FF, #00C4DE, #00E639);
    background-image: -o-radial-gradient(center center, circle contain, #C759FF, #00C4DE, #00E639);
    background-image: radial-gradient(center center, circle contain, #C759FF, #00C4DE, #00E639);
}

.bg-3color-3 {
    background-color: #00C4DE;
    background-image: -webkit-radial-gradient(center center, circle cover, #00C4DE, #00E639, #BAB600);
    background-image: -moz-radial-gradient(center center, circle contain, #00C4DE, #00E639, #BAB600);
    background-image: -ms-radial-gradient(center center, circle contain, #00C4DE, #00E639, #BAB600);
    background-image: -o-radial-gradient(center center, circle contain, #00C4DE, #00E639, #BAB600);
    background-image: radial-gradient(center center, circle contain, #00C4DE, #00E639, #BAB600);
}

.bg-3color-2 {
    background-color: #00E639;
    background-image: -webkit-radial-gradient(center center, circle cover, #00E639, #BAB600, #FF7012);
    background-image: -moz-radial-gradient(center center, circle contain, #00E639, #BAB600, #FF7012);
    background-image: -ms-radial-gradient(center center, circle contain, #00E639, #BAB600, #FF7012);
    background-image: -o-radial-gradient(center center, circle contain, #00E639, #BAB600, #FF7012);
    background-image: radial-gradient(center center, circle contain, #00E639, #BAB600, #FF7012);
}

.bg-3color-1 {
    background-color: #BAB600;
    background-image: -webkit-radial-gradient(center center, circle cover, #BAB600, #FF7012, #FF196D);
    background-image: -moz-radial-gradient(center center, circle contain, #BAB600, #FF7012, #FF196D);
    background-image: -ms-radial-gradient(center center, circle contain, #BAB600, #FF7012, #FF196D);
    background-image: -o-radial-gradient(center center, circle contain, #BAB600, #FF7012, #FF196D);
    background-image: radial-gradient(center center, circle contain, #BAB600, #FF7012, #FF196D);
}

.bg-3color-0 {
    background-color: #FF7012;
    background-image: -webkit-radial-gradient(center center, circle cover, #FF7012, #FF196D, #C759FF);
    background-image: -moz-radial-gradient(center center, circle contain, #FF7012, #FF196D, #C759FF);
    background-image: -ms-radial-gradient(center center, circle contain, #FF7012, #FF196D, #C759FF);
    background-image: -o-radial-gradient(center center, circle contain, #FF7012, #FF196D, #C759FF);
    background-image: radial-gradient(center center, circle contain, #FF7012, #FF196D, #C759FF);
}

.bg-color-black {
    background-color: #000;
}

/* IDs */

#logo-small {
    position: relative;
    display: block;
    margin: 0px auto 20px;
    padding-top: 20px;
    height: 89px;
    width: 200px;
}

#navbar {
   position: relative;
   width: 100%;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 40px;
}

#navbar li {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

#blank-footer {
    position: relative;
    height: 90px;
}

#font-switch {
    position: absolute;
    float: left;
    top: 0;
    font-size: 30px;
}

#social-station {
    width: 100%;
    max-width: 1057px;
    margin: 0 auto;
    border-radius: 30px;
}
